<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: white;
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    flex-wrap: wrap;
    background-color: #2a2379;
}

nav .left {
    font-size: 35px;
}


nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 25px;

}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: aqua;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover {
    color: aqua;
}

nav ul li a:hover::after {
    color: aqua;
    font-size: 1.01rem;
    width: 100%;
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.firstSection .leffSection {
    font-size: 2.5rem;
}

.sub-title {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    margin: 10px 0;
}

.leffSection .button {
    padding: 12px;
    border-radius: 15px;
    background-color: black;
    border-color: white;
    color: white;
}

.leffSection .button a {
    color: white;
    text-decoration: none;
}

.rightSection img {
    width: 80%;
    margin: 25px 0;
}

.firstSection>div {
    width: 35%;
}



.purple {
    color: #a200ff;
}

#element {
    color: #a200ff;
}

.section-hr {
    height: 2px;
    margin: 0 50px;
    background-color: aliceblue;
}


/* -------------about me------------- */

.about-me-container {
    display: flex;
    justify-content: space-between;
}

.about-me-container .about-me-left {
    flex-basis: 45%;
}

.about-me-container .about-me-left p {
    text-align: justify;
    font-size: 18px;
}


.about-me-container .about-me-right {
    flex-basis: 50%;
}

.tab-titles {
    display: flex;
}

.tab-titles p {
    margin: 20px 20px 20px 0;
}

.tab-links {
    margin-right: 20px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff0000;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 0 0 10px;
}

.tab-contents ul li span {
    color: #ff0000;
    font-size: 22px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* ----------------section project------------- */
.secondSection,
.about-me {
    margin: 40px 50px;

}

/* .my-work-section h1 {
    font-size: 2rem;
} */

.work-List {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;


}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(93, 93, 93, 0), #000000);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0;
    text-align: center;
    font-size: 18px;
    transition: height 0.5s;

}

.layer h2 {
    font-weight: 500;
    margin: 0 10px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    background: linear-gradient(rgba(255, 99, 71, 0.9), #fffa6b);
    border-radius: 15px;
    padding: 10px;
}

.layer p {
    color: rgb(255, 255, 255);
    font-size: 15px;
    width: 80%;
}

.work:hover img {
    transform: scale(1.09);
}

.work:hover div {
    height: 100%;

}

.layer img {
    height: 50px;
    width: 50px;
}

.see-more-btn {
    text-decoration: none;
    color: white;
    margin: 50px auto;
    display: block;
    width: fit-content;
    padding: 15px 40px;
    background: #2a2379;
    border-radius: 6px;
    border: 1px solid rebeccapurple;
    transition: 0.5s;

}

.see-more-btn:hover {
    background: #a200ff;

}

.layer hr {
    margin: 10px;
    width: 100px;
}

.contact-section {
    margin: 40px 50px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #fff;
    margin-right: 15px 0;
    font-size: 25px;

}

.social-media {

    margin-top: 30px;


}

.social-media a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;

}

.contact-left a:hover {
    color: #ffd900;
    transform: translateY(-5px);
}

/* .SubmitBtn2{
    color: white;
    background: #0015ff;
    border-radius: 6px;
    padding: 15px 30px;
    font-weight: 600;
    border: 1px solid rebeccapurple;
    transition: 0.5s;
} */

.contact-right form {
    width: 100%;

}

form input,
form textarea {
    width: 95%;
    border: 0;
    outline: none;
    background: rgb(57, 57, 57);
    padding: 15px;
    margin: 15px 0;
    color: #ffffff;
    font-size: 15px;
    border-radius: 6px;
}

form .SubmitBtn {
    padding: 14px 60px;
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;
    color: white;
    background: #0015ff;
    border-radius: 6px;
    font-weight: 600;
    border: 1px solid rebeccapurple;

}

#msg {
    color: #fff;
    margin-top: 20px;
    display: block;

}


.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #2a2379;
    font-weight: 300;
    margin-top: 20px;
}


/* -------------------Responsive----------------- */

nav .icon {
    display: none;
}

@media only screen and (max-width: 600px) {
    .firstSection {
        display: grid;

    }

    .firstSection>div {
        margin: 20px auto;
        width: 100%;
        font: 1.5rem;
    }

    .leffSection {
        font-size: 1rem;
    }

    .leffSection .button {
        margin: 20px;
    }

    nav .icon {
        display: block;
        font-size: 25px;
    }

    nav ul {

        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        justify-content: flex-start;
    }

    nav ul li {
        display: block;
    }

    .contact-section .row {

        display: grid;
    }

    .firstSection .rightSection img {
        width: 100%;

    }

    .firstSection .leffSection {
        margin: 20px auto;
        overflow: hidden;
        width: fit-content;
        font-size: 1.5rem;
    }

    .leffSection .button {
        margin: 20px 20px 10px 0;
    }

    .about-me .about-me-container {
        display: grid;
    }

    .about-me {
        margin: 20px;
    }

    .about-me-container .about-me-left p {
        font-size: 15px;
    }
    .about-me-container .about-me-left p h1 {
        font-size: 25px;
    }

    .about-me-container .about-me-right p {
        font-size: 18px;
    }

    .about-me-container .about-me-right ul li span {
        font-size: 15px;
    }

    .secondSection {
        margin: 20px;
    }


    .right {
        display: none;
    }

    .hr-line {
        width: 90%;
        margin: 10px auto;
    }

    .layer p {
        font-size: 12px;
        width: 80%;
    }

    .layer h2 {
        font-size: 16px;
    }

    .contact-section {
        margin: 20px;
    }


}
=======
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: white;
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    flex-wrap: wrap;
    background-color: #2a2379;
}

nav .left {
    font-size: 35px;
}


nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 25px;

}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: aqua;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover {
    color: aqua;
}

nav ul li a:hover::after {
    color: aqua;
    font-size: 1.01rem;
    width: 100%;
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.firstSection .leffSection {
    font-size: 2.5rem;
}

.sub-title {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    margin: 10px 0;
}

.leffSection .button {
    padding: 12px;
    border-radius: 15px;
    background-color: black;
    border-color: white;
    color: white;
}

.leffSection .button a {
    color: white;
    text-decoration: none;
}

.rightSection img {
    width: 80%;
    margin: 25px 0;
}

.firstSection>div {
    width: 35%;
}



.purple {
    color: #a200ff;
}

#element {
    color: #a200ff;
}

.section-hr {
    height: 2px;
    margin: 0 50px;
    background-color: aliceblue;
}


/* -------------about me------------- */

.about-me-container {
    display: flex;
    justify-content: space-between;
}

.about-me-container .about-me-left {
    flex-basis: 45%;
}

.about-me-container .about-me-left p {
    text-align: justify;
    font-size: 18px;
}


.about-me-container .about-me-right {
    flex-basis: 50%;
}

.tab-titles {
    display: flex;
}

.tab-titles p {
    margin: 20px 20px 20px 0;
}

.tab-links {
    margin-right: 20px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff0000;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 0 0 10px;
}

.tab-contents ul li span {
    color: #ff0000;
    font-size: 22px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* ----------------section project------------- */
.secondSection,
.about-me {
    margin: 40px 50px;

}

/* .my-work-section h1 {
    font-size: 2rem;
} */

.work-List {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;


}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(93, 93, 93, 0), #000000);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0;
    text-align: center;
    font-size: 18px;
    transition: height 0.5s;

}

.layer h2 {
    font-weight: 500;
    margin: 0 10px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    background: linear-gradient(rgba(255, 99, 71, 0.9), #fffa6b);
    border-radius: 15px;
    padding: 10px;
}

.layer p {
    color: rgb(255, 255, 255);
    font-size: 15px;
    width: 80%;
}

.work:hover img {
    transform: scale(1.09);
}

.work:hover div {
    height: 100%;

}

.layer img {
    height: 50px;
    width: 50px;
}

.see-more-btn {
    text-decoration: none;
    color: white;
    margin: 50px auto;
    display: block;
    width: fit-content;
    padding: 15px 40px;
    background: #2a2379;
    border-radius: 6px;
    border: 1px solid rebeccapurple;
    transition: 0.5s;

}

.see-more-btn:hover {
    background: #a200ff;

}

.layer hr {
    margin: 10px;
    width: 100px;
}

.contact-section {
    margin: 40px 50px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #fff;
    margin-right: 15px 0;
    font-size: 25px;

}

.social-media {

    margin-top: 30px;


}

.social-media a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;

}

.contact-left a:hover {
    color: #ffd900;
    transform: translateY(-5px);
}

/* .SubmitBtn2{
    color: white;
    background: #0015ff;
    border-radius: 6px;
    padding: 15px 30px;
    font-weight: 600;
    border: 1px solid rebeccapurple;
    transition: 0.5s;
} */

.contact-right form {
    width: 100%;

}

form input,
form textarea {
    width: 95%;
    border: 0;
    outline: none;
    background: rgb(57, 57, 57);
    padding: 15px;
    margin: 15px 0;
    color: #ffffff;
    font-size: 15px;
    border-radius: 6px;
}

form .SubmitBtn {
    padding: 14px 60px;
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;
    color: white;
    background: #0015ff;
    border-radius: 6px;
    font-weight: 600;
    border: 1px solid rebeccapurple;

}

#msg {
    color: #fff;
    margin-top: 20px;
    display: block;

}


.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #2a2379;
    font-weight: 300;
    margin-top: 20px;
}


/* -------------------Responsive----------------- */

nav .icon {
    display: none;
}

@media only screen and (max-width: 600px) {
    .firstSection {
        display: grid;

    }

    .firstSection>div {
        margin: 20px auto;
        width: 100%;
        font: 1.5rem;
    }

    .leffSection {
        font-size: 1rem;
    }

    .leffSection .button {
        margin: 20px;
    }

    nav .icon {
        display: block;
        font-size: 25px;
    }

    nav ul {

        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        justify-content: flex-start;
    }

    nav ul li {
        display: block;
    }

    .contact-section .row {

        display: grid;
    }

    .firstSection .rightSection img {
        width: 100%;

    }

    .firstSection .leffSection {
        margin: 20px auto;
        overflow: hidden;
        width: fit-content;
        font-size: 1.5rem;
    }

    .leffSection .button {
        margin: 20px 20px 10px 0;
    }

    .about-me .about-me-container {
        display: grid;
    }

    .about-me {
        margin: 20px;
    }

    .about-me-container .about-me-left p {
        font-size: 15px;
    }

    .about-me-container .about-me-left p h1 {
        font-size: 25px;
    }

    .about-me-container .about-me-right p {
        font-size: 18px;
    }

    .about-me-container .about-me-right ul li span {
        font-size: 15px;
    }

    .secondSection {
        margin: 20px;
    }


    .right {
        display: none;
    }

    .hr-line {
        width: 90%;
        margin: 10px auto;
    }

    .layer p {
        font-size: 12px;
        width: 80%;
    }

    .layer h2 {
        font-size: 16px;
    }

    .contact-section {
        margin: 20px;
    }


}
>>>>>>> c5d4b92c82b5c42f89c582bc0a39ad2c6c39eca3
